<div class="entity-content">
    <h2 class="entity-title">{{ movie.title }}</h2>
    <div class="rating">
        {% set voteAverage = movie.voteAverage/2 %}
        <i class="bi {% if voteAverage >= 1 %}bi-star-fill{% elseif voteAverage > 0 %}bi-star-half{% else %}bi-star{% endif %}"></i>
        <i class="bi {% if voteAverage >= 2 %}bi-star-fill{% elseif voteAverage > 1 %}bi-star-half{% else %}bi-star{% endif %}"></i>
        <i class="bi {% if voteAverage >= 3 %}bi-star-fill{% elseif voteAverage > 2 %}bi-star-half{% else %}bi-star{% endif %}"></i>
        <i class="bi {% if voteAverage >= 4 %}bi-star-fill{% elseif voteAverage > 3 %}bi-star-half{% else %}bi-star{% endif %}"></i>
        <i class="bi {% if voteAverage >= 5 %}bi-star-fill{% elseif voteAverage > 4 %}bi-star-half{% else %}bi-star{% endif %}"></i>
        <span>({{ movie.voteCount }} votes)</span>
    </div>
    <div class="entity-description">{{ movie.overview }}</div>
</div>
